<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>CarnaStore</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="keywords" content="Carnastore, loja, carnaval, fantasias">
  <meta name="description" content="Carnastore">
  <meta name="author" content="Adriano Silva">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assets/styles/style.css">
  </head>
<body>
  <header>
    <div class="container">
      <div class="navbar">
        <div class="navbar__logo">
          <a href="index.html">
            <img src="../assets/images/logo.svg" alt="logo">
          </a>
        </div>
        <div class="navbar__title">
          Venha ser felix no carnaval!
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="slider">

      <div class="slider__content">
        <div class="slider__title">
          Ainda dá tempo de <strong>ser felix</strong>
        </div>

        <div class="slider__sub-title">
          Fantasias premiun por <span class="slider__price slider__price--color-orange"><strong>$100,00</strong></span>
        </div>

        <div class="slider__button">
          <a href="#s" class="button">
            Comprar agora
          </a>
        </div>
      </div>
    </section>


 
    <section class="products">

      <div class="products__title">
        Se você comprar eu te dou um <span class="products__title--color-orange"><strong>beijo</strong> (só se
          quixer)</span>
      </div>
      <div class="container products__container">              
      </div>

    </section>


  </main>

  <footer>
    <section class="footline">
      <div class="container footline__container">
        <img src="../assets/images/white-logo.svg" alt="white-logo" class="footline__logo">

        <a href="mailto:contato@carnastore.com" class="footline__email">
          contato@carnastore.com
        </a>
      </div>
    </section>

    <section class="payment">
      <div class="container payment__container">
        <img src="../assets/images/cards.svg" alt="cards" class="payment__cards">
        <img src="../assets/images/security-icon.svg" alt="cards" class="payment__security">
      </div>
    </section>

    <section class="copyright">
      Desenvolvido pela <strong><a href="https://humanoide.co/"  target="_blanck" class="copyright__name">Humanoide </a> </strong>
    </section>

  </footer>

  
  <script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
    <script src="../assets/js/index.js" type="text/javascript"></script>

</body>
</html>